<div class="grid grid-cols-4 gap-5">
  <div
    class="card card-border rounded-3xl border-base-300 bg-base-100 image-full w-full shadow-sm col-span-2"
  >
    <figure>
      <img
        src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
        alt="Shoes"
      />
    </figure>
    <div class="card-body !text-white">
      <kbd class="kbd kbd-md block w-fit bg-primary">Category</kbd>
      <h2 class="card-title text-2xl">Card Title</h2>
      <p class="font-light text-base">
        A card component has a figure, a body part, and inside body there are title and actions
        parts
      </p>
      <div class="card-actions justify-end">
        <div class="w-full flex items-center justify-between">
          <div class="flex items-center gap-3">
            <div class="avatar">
              <div class="w-11 rounded-full">
                <img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" />
              </div>
            </div>
            <p>
              <span class="block font-semibold text-sm"> Javier V. Exeni </span>
              <span class="block font-light text-sm">5min lectura</span>
            </p>
          </div>
          <button class="btn btn-circle btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="#fff" d="M6 6v2h8.59L5 17.59L6.41 19L16 9.41V18h2V6z" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="card card-border rounded-3xl border-base-300 bg-base-100 image-full w-full shadow-sm col-span-2"
  >
    <figure>
      <img
        src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
        alt="Shoes"
      />
    </figure>
    <div class="card-body !text-white">
      <kbd class="kbd kbd-md block w-fit bg-primary">Category</kbd>
      <h2 class="card-title text-2xl">Card Title</h2>
      <p class="font-light text-base">
        A card component has a figure, a body part, and inside body there are title and actions
        parts
      </p>
      <div class="card-actions justify-end">
        <div class="w-full flex items-center justify-between">
          <div class="flex items-center gap-3">
            <div class="avatar">
              <div class="w-11 rounded-full">
                <img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" />
              </div>
            </div>
            <p>
              <span class="block font-semibold text-sm"> Javier V. Exeni </span>
              <span class="block font-light text-sm">5min lectura</span>
            </p>
          </div>
          <button class="btn btn-circle btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="#fff" d="M6 6v2h8.59L5 17.59L6.41 19L16 9.41V18h2V6z" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>


  <!-- Lista normal -->
  <div
    class="card card-border rounded-4xl border-base-300 bg-base-100 w-full shadow-sm overflow-hidden"
  >
    <figure class="px-2 pt-2">
      <img
        src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
        alt="Shoes"
        class="rounded-3xl"
      />
    </figure>
    <div class="card-body p-4 pb-3">
      <kbd class="kbd kbd-md block w-fit">Category</kbd>

      <h2 class="card-title text-xl">Blog post title</h2>
      <p>
        A card component has a figure, a body part, and inside body there are title and actions
        parts
      </p>
    </div>
    <div class="px-4 pb-4 pt-3 bg-base-300 flex items-center justify-between">
      <div class="flex items-center gap-3">
        <div class="avatar">
          <div class="w-11 rounded-full">
            <img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" />
          </div>
        </div>
        <p>
          <span class="block font-semibold text-sm"> Javier V. Exeni </span>
          <span class="block font-light text-sm">5min lectura</span>
        </p>
      </div>
      <button class="btn btn-circle btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="#fff" d="M6 6v2h8.59L5 17.59L6.41 19L16 9.41V18h2V6z" />
        </svg>
      </button>
    </div>
  </div>
</div>
